.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* Estilos para el botón primario */
.button.primary {
  background-color: #007bff;
  color: #fff;
}

/* Estilos para el botón secundario */
.button.secondary {
  background-color: #ccc;
  color: #000;
}

/* Estilos para el botón deshabilitado */
.button[disabled] {
  cursor: not-allowed;
  background-color: #ddd;
  color: #666;
}